<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Login SSO Active Directory</title>
  </head>
  <body>
    <form action="http://127.0.0.1:8000/" method="post">
      <h2>Login SSO Active Directory</h2>
      <label for="username">Nome de usuário:</label>
      <input type="text" id="username" name="username"><br><br>
      <label for="password">Senha:</label>
      <input type="password" id="password" name="password"><br><br>
      <input type="submit" value="Login">
    </form>
  </body>
</html>
